.Card {
    width: 33%;
    float: left;
    padding: 15px 15px;
    box-sizing: border-box;
}

.content {
    padding: 20px 0;
}
.content:after {
    content: '';
    display: table;
    clear: both;
}

@media screen and (max-width: 1024px) {

    .content {
        padding: 0 16px;
    }

}
