.material-icons {
  vertical-align: middle;
}

.link {
  display: inline-block;
  padding: 10px 20px;
  border-bottom: 4px solid transparent;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.active {
  border-bottom-color: #fff;
}
