.mdl-textfield {
  position: relative;
  font-size: 16px;
  box-sizing: border-box;
  max-width: 100%;
  margin: 0;
  padding: 18px 0 16px;
  min-width: 32px;
  width: auto;
  min-height: 32px;
  text-align: right;
  color: #fff;
}

.mdl-layout__header-row {
  box-sizing: border-box;
  height: 64px;
  margin: 0;
  padding: 0 40px 0 80px;
}

.material-icons {
  vertical-align: middle;
}

.lang-switcher {
  display: inline-block;
  padding-left: 10px;
  padding-top: 2px;
}

.lang-link {
  padding: 3px 8px;
  color: #fff;
  cursor: pointer;
  font-size: 80%;
  display: inline-block;
  text-align: center;
}

.lang-link-active {
  color: rgb(63, 81, 181);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
}
