@import '../../components/variables.css';

.root {
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  margin: 0 auto;
  padding: 20px 20px 40px;
  max-width: var(--max-content-width);
}

.container::after {
  content: '';
  display: table;
  clear: both;
}

.Card {
  width: 33%;
  float: left;
  padding: 15px;
  box-sizing: border-box;
}

.col-md-2 {
  float: left;
  width: 16.6667%;
  padding: 10px;
  box-sizing: border-box;
}

.col-md-10 {
  float: left;
  width: 83.3333%;
  padding: 10px;
  box-sizing: border-box;
}

.row {
  &::after {
    display: table;
    content: '';
    clear: both;
  }
}

